//POSITION -----------------------------------
@mixin position($d, $p, $t, $l, $b, $r, $w, $h) {
  display: $d;
  position: $p;
  top: $t;
  left: $l;
  bottom: $b;
  right: $r;
  width: $w;
  height: $h;
}

//FONT SIZE CONVERTER -------------------------
@function to-rem($size) {
  @return calc($size / 14 * 1rem);
}
