@import "../../../assets/SCSS/style/variable";
@import "../../../assets/SCSS/mixinAndFn/mixinsAndFn";

.profile {
  position: relative;
  padding: 50px 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  //profile data  -----------------------------------------------
  .items {
    @include position(block, relative, 0, 0, "", "", 100%, "");
    max-height: 300px;
    height: 100%;
    margin: -50px 0 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      @include position(block, absolute, 0, 0, "", "", 100%, 100%);
      content: "";
      background: radial-gradient(
        circle,
        transparent 0%,
        rgba(0, 0, 0, 0.15) 58%,
        rgba(0, 0, 0, 0.3) 100%
      );
    }
  }

  .containerPhoto {
    @include position(flex, relative, 0, 0, "", "", "", 1px);
    z-index: 2;

    //AVATAR -----------
    .photoUser {
      @include position(flex, absolute, 0, 5%, "", "", "", "");
      width: 200px;
      height: 200px;
      border-radius: 25% 25% 0 25%;
      border: 20px solid $appBc;
      transform: scale(0.1);
      opacity: 0.3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      h2 {
        @include position(block, absolute, "", "", 0, 0, "", "");
        max-width: 100%;
        font-size: to-rem(30);
        transform: scale(0.1);
        opacity: 0.1;
        color: $colorApp;

        &:hover {
          text-decoration: underline;
        }
      }

      .nameActive {
        transition: all 0.3s ease-in-out 0.1s;
        transform: translate(60px, 5px) scale(1);
        opacity: 1;
      }
    }

    .activeAva {
      transition: all 0.3s ease-in-out 0s;
      transform: translate(0, -75%) scale(1);
      opacity: 1;
    }
  }

  .container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;

    @media (max-width: 500px) {
      flex-direction: column-reverse;
      justify-content: start;
    }

    .asideBar {
      max-width: 140px;
      width: 100%;
      height: auto;

      margin: 50px 0 0 0;

      background: linear-gradient(
        130deg,
        rgb(74, 74, 74) 45%,
        rgba(74, 74, 74, 0.5) 63%,
        rgba(32, 33, 34, 0.1) 74%
      );

      transform: translate(0, -150%);
      transition: all 0.3s ease 0s;
      z-index: 1;

      @media (max-width: 500px) {
        max-width: 1200px;
        width: 100%;
      }

      .nav {
        padding: 20px 5px;
        @media (max-width: 500px) {
          padding: 0;
          max-width: 1200px;
          width: 100%;
        }

        ul {
          display: flex;
          flex-direction: column;

          @media (max-width: 500px) {
            flex-direction: row;
            justify-content: center;
          }

          li {
            position: relative;
            @include position(block, relative, 0, 0, "", "", "", "");
            padding: 10px 0;
            @media (max-width: 500px) {
              margin: 0  0 0 15%;
            }

            a {
              display: flex;
              align-items: center;
              color: $colorApp;
              text-transform: uppercase;

              div {
                width: 30px;
                height: 30px;

                padding: 3px;
                margin: 0 5px;

                svg {
                  path {
                    fill: rgba(255, 255, 255, 0.5);
                  }
                }
              }
            }

            span {
              @media (max-width: 500px) {
                display: none;
              }
            }
          }
        }
      }
    }

    .activeBar {
      transition: all 0.3s ease-in-out 0s;
      transform: translate(0, 0);
    }

    .containerContent {
      flex: 1 1 auto;
    }
  }
}

//ACTIVE PROF -------------------------------
.activeProfile {
  transition: all 0.5s ease-in-out 0s;
  background: $appBc;
}
