@import "../../../../assets/SCSS/style/variable";
@import "../../../../assets/SCSS/mixinAndFn/mixinsAndFn";

.personalContain {
  display: flex;
  justify-content: start;

  color: $colorApp;

  height: 100%;

  margin: 0 15px;

  opacity: 0;

  transition: all 0.3s ease-in-out 0s;

  .personalData {
    margin: 50px 0 15px;
    padding: 3.1% 4% 4% 4%;

    background: $bcWindow;

    width: 100%;
    height: auto;

    li {
      margin: 0 0 4%;

      h2 {
        font-size: clamp(to-rem(16), 5vw, to-rem(18));
      }

      p {
        font-size: clamp(to-rem(14), 5vw, to-rem(16));
      }
    }
  }
}

.runPersonal {
  opacity: 1;

  transition: all 0.3s ease-in-out 0s;
}
