@import "../../../assets/SCSS/mixinAndFn/mixinsAndFn";
@import "../../../assets/SCSS/style/variable";

//Для окон auth -----------------
@keyframes borBotTo {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes borBotIs {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.containerAuth {
  width: 100%;
  max-width: 505px;
  min-width: 250px;
  height: 520px;

  margin: 0;
  padding: 40px 40px 40px 60px;

  background: $HNbc;
  color: $colorApp;

  z-index: 1;

  border-radius: 6px;

  > p {
    text-transform: uppercase;
    font-size: to-rem(10);
    letter-spacing: 11.5px;
  }

  > h1 {
    font-size: to-rem(24);
    font-weight: 700;

    text-align: start;
    text-transform: capitalize;

    margin: 3px 0 0;
  }

  .form {
    display: flex;
    flex-direction: column;

    .blockInput {
      @include position(block, relative, 0, 0, "", "", 100%, 40px);

      margin: 40px 0 0 0;

      //INPUT -------------------------------
      input {
        @include position(block, relative, 0, 0, "", "", 100%, 100%);

        font-weight: 500;
        font-size: 16px;
        color: $colorApp;

        background: transparent;

        padding: 6px 12px;

        border-bottom: $border;
        border-radius: $radiusWindow;

        transition: all 0.3s ease 0s;
        z-index: 2;

        &:-webkit-autofill {
          transition: all 5000s ease-in-out 0s;
        }

        &:focus + label {
          transform: translate(0, -25px) scale(0.8);
          transform-origin: top left;
          transition: all 0.3s ease-out 0s;
        }

        &:focus + label + div {
          animation: borBotTo 0.5s forwards;
          border-bottom: 2px solid $active;
        }
      }

      .inputOk {
        border-bottom: 2px solid $active;
      }

      //border input -
      div {
        @include position(block, absolute, "", "", 0, "", "", "");
        border-bottom: 2px solid $active;
      }

      .isActiveBorder {
        animation: borBotIs 0.8s forwards;
        border-bottom: 2px solid $active;
      }

      //LABEL-----------------------------------------

      label {
        @include position(block, absolute, "", 12px, 12px, "", "", "");
        transition: all 0.3s ease-out 0s;
        z-index: 1;
        opacity: 0.6;
      }

      .modLabel {
        transition: all 0.3s ease-out 0s;
        transform: translate(0, -25px) scale(0.8);
        transform-origin: top left;
      }

      //--------------------------------------------------
      p {
        margin: 2px 0 0 12px;
        color: $coloError;
      }
    }

    > label {
      margin-top: 46px;
    }
  }
}
