@import "variable.scss";
@import "../../../assets/SCSS/mixinAndFn/mixinsAndFn";
//для заголовков -----------------
.containerDefaultApp {
  max-width: 1200px;
  width: 100%;
  //height: 100%;

  margin: 0 auto;
}


//для активных кнопок -----------
.activeBut {
  transition: all 0.3s ease 0s;
  background: $active;

  div {
    svg {
      path {
        fill: $HBc !important;
      }
    }
  }
}
