//App ================================
$appBc: #202122;

//Header ---------------------------
$HBc: #141516;
//nav ---
$HNbc:#4a4a4a;
$nBCPsevdo: #fff;


//BATTON --------------------------
$bcButAct:#70a903;