//App ================================
$appBc: #202122;
$colorApp: #fff;

//Header ---------------------------
$HBc: rgba(20, 21, 22, 0.9);
//nav ---
$HNbc: rgba(74, 74, 74, 1);
$nBCPsevdo: #fff;


//BATTON --------------------------
$active:#70a903;


//menu burger -------------------
$bcMenu1: rgba(74, 74, 74, 1);
$bcMenu2: rgba(112, 169, 3, 0.7);
$bcMenu3: rgba(255, 255, 255, 0.1);


//WINDOW ВКЛАДКИ ----------------------
$radiusWindow: 0 0 0 0;
//error --------------------------------
$coloError: red;

//BORDER ----------------------------
$border: 2px solid rgba(255, 255, 255, 0.5)
