//App ================================
$appBc: #202122;
$colorApp:#fff;

//Header ---------------------------
$HBc: #141516;
//nav ---
$HNbc: rgba(74, 74, 74, 1);
$nBCPsevdo: #fff;


//BATTON --------------------------
$bcButAct:#70a903;


//menu burger -------------------
$bcMenu1: rgba(74, 74, 74, 1);
$bcMenu2: rgba(112, 169, 3, 0.7);
$bcMenu3: rgba(255, 255, 255, 0.1);
