@import "../../../assets/SCSS/style/variable";
@import "../../../assets/SCSS/mixinAndFn/mixinsAndFn";

.home {
  flex: 1 1 auto;
  height: 100%;
  border: 2px solid red;
  //background-image: linear-gradient(
  //    to right,
  //    rgba(0, 0, 0, 0.7),
  //    rgba(0, 0, 0, 0.7)
  //  ),
  //  url("../../../assets/image/imgWeb/home/hom.webp"),
  //  url("../../../assets/image/imgWeb/home/hom.jpg");
  //background-size: cover;
  //background-position: 0 90%;
  //background-attachment: fixed;
  //background-repeat: no-repeat;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto 0;
    @media (max-width: 960px) {
      display: block;
    }

    .item {
      flex: 1 1 40%;
      //max-width: 400px;
      color: $colorApp;
      padding: 30px 30px 30px 10px;

      > h2 {
        font-size: clamp(to-rem(18), 5vw, to-rem(36));
        font-weight: 700;

        margin: 0 0 30px;
      }

      > p {
        font-size: clamp(to-rem(14), 5vw, to-rem(16));
        line-height: 1.5;
      }
    }

    .componentAuth {
      display: flex;
      justify-content: end;
      flex: 1 1 60%;
      height: 100%;
      //@include position(flex, relative, 0, 0, "", "", 505px, "");
      //justify-content: end;

      @media (max-width: 960px) {
        justify-content: center;
        margin: 10% 0 0;
      }

      .block {
        @include position(flex, relative, 0, 0, "", "", 505px, "");
        align-items: center;
        border-radius: 6px;
        margin: 0 5%;

        &:before {
          @include position(flex, absolute, 20%, "", "", -3.5%, 10%, 60%);
          display: block;
          content: "";
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.05)
          );
          border-radius: 0 6px 6px 0;
        }

        &:after {
          display: block;
          content: "";
          width: 5%;
          height: 70%;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.05)
          );
          border-radius: 0 6px 6px 0;
        }

        @media (max-width: 960px) {
          &:after,
          &:before {
            display: none;
          }
        }

        .switchAuth {
          @include position(flex, absolute, 45%, 0, "", "", 70%, 50px);
          align-items: center;
          justify-content: center;
          transform: translate(-55%, 0) rotate(270deg);
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.05)
          );

          z-index: 1;

          border-radius: 6px 6px 0 0;

          @media (max-width: 960px) {
            @include position(flex, absolute, -50px, 15%, "", "", 70%, 50px);
            transform: none;
          }

          li {
            @include position(block, relative, 0, 0, "", "", "", "");

            a {
              font-size: to-rem(16);
              padding: 5px 30px;
            }

            &:nth-child(2):after {
              content: "";
              @include position(block, absolute, 0, 0, "", "", 1px, 20px);
              background: $colorApp;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

.active {
  color: $colorApp;
}

.isActive {
  color: $isActive;
}
