.home {
  flex: 1 1 auto;
  height: 100%;
  border: 2px solid red;
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10% auto 0;
}
@media (max-width: 960px) {
  .home .container {
    display: block;
  }
}
.home .container .item {
  flex: 1 1 40%;
  color: #fff;
  padding: 30px 30px 30px 10px;
}
.home .container .item > h2 {
  font-size: clamp(1.2857142857rem, 5vw, 2.5714285714rem);
  font-weight: 700;
  margin: 0 0 30px;
}
.home .container .item > p {
  font-size: clamp(1rem, 5vw, 1.1428571429rem);
  line-height: 1.5;
}
.home .container .componentAuth {
  display: flex;
  justify-content: end;
  flex: 1 1 60%;
}
@media (max-width: 960px) {
  .home .container .componentAuth {
    justify-content: center;
    margin: 10% 0 0;
  }
}
.home .container .componentAuth .block {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  bottom: "";
  right: "";
  width: 505px;
  height: "";
  align-items: center;
  border-radius: 6px;
  margin: 0 5%;
}
.home .container .componentAuth .block:before {
  display: flex;
  position: absolute;
  top: 20%;
  left: "";
  bottom: "";
  right: -3.5%;
  width: 10%;
  height: 60%;
  display: block;
  content: "";
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
  border-radius: 0 6px 6px 0;
}
.home .container .componentAuth .block:after {
  display: block;
  content: "";
  width: 5%;
  height: 70%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
  border-radius: 0 6px 6px 0;
}
@media (max-width: 960px) {
  .home .container .componentAuth .block:after, .home .container .componentAuth .block:before {
    display: none;
  }
}
.home .container .componentAuth .block .switchAuth {
  display: flex;
  position: absolute;
  top: 45%;
  left: 0;
  bottom: "";
  right: "";
  width: 70%;
  height: 50px;
  align-items: center;
  justify-content: center;
  transform: translate(-55%, 0) rotate(270deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
  z-index: 1;
  border-radius: 6px 6px 0 0;
}
@media (max-width: 960px) {
  .home .container .componentAuth .block .switchAuth {
    display: flex;
    position: absolute;
    top: -50px;
    left: 15%;
    bottom: "";
    right: "";
    width: 70%;
    height: 50px;
    transform: none;
  }
}
.home .container .componentAuth .block .switchAuth li {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  bottom: "";
  right: "";
  width: "";
  height: "";
}
.home .container .componentAuth .block .switchAuth li a {
  font-size: 1.1428571429rem;
  padding: 5px 30px;
}
.home .container .componentAuth .block .switchAuth li:nth-child(2):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: "";
  right: "";
  width: 1px;
  height: 20px;
  background: #fff;
  opacity: 0.5;
}
.home .container .componentAuth .block .end {
  width: 20px;
}

.active {
  color: #fff;
}

.isActive {
  color: #939598;
}

/*# sourceMappingURL=Home.module.css.map */
