@import "../../../assets/SCSS/style/variable";
@import "../../../assets/SCSS/mixinAndFn/mixinsAndFn";

.home {
  flex: 1 1 auto;
  height: 100vh;
  border: 2px solid red;

  .container {
    display: flex;
    align-items: center;
    margin: 15% auto 0;

    .item {
      flex: 1 1 40%;
      max-width: 400px;
      min-width: 250px;
      color: $colorApp;
      padding: 30px 30px 30px 10px;

      > h2 {
        font-size: clamp(to-rem(18), 5vw, to-rem(36));
        font-weight: 700;

        margin: 0 0 30px;
      }

      > p {
        font-size: clamp(to-rem(14), 5vw, to-rem(16));
        line-height: 1.5;
      }
    }

    .componentAuth {
      display: flex;
      justify-content: end;
      align-items: center;
      flex: 1 1 auto;
      max-width: 800px;
      width: 100%;

      .switchAuth {
        display: flex;
        justify-content: end;
        transform: translate(40%,0) rotate(270deg);
        background: linear-gradient(to bottom, rgba(255,255,255, 0.2) , rgba(255,255,255, 0.05));

        max-height: 50px;
        width: 100%;
        li{
          display: flex;
          align-items: center;
          margin: 0 10px;
          > a {
            display: block;
            font-size: to-rem(16);
            padding: 5px 30px;
            //font-weight: 700;
            color: white;
          }
        }
      }
      .data{
        display: flex;

        max-width: 510px;
        width: 100%;

        padding: 0 10px 0 0;
      }
    }
  }
}
