@import "assets/fonts/play/play.css";
@import "assets/SCSS/setting/settingDefault";
@import "assets/SCSS/style/variable";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Play", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
                  to right,
                  rgba(0, 0, 0, 0.7),
                  rgba(0, 0, 0, 0.7)
  ),
  url("assets/image/imgWeb/home/hom.webp"),
  url("assets/image/imgWeb/home/hom.jpg");
  background-size: cover;
  background-position: 0 90%;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}
